@font-face {
    font-family:'basis33'; 
    src: local('basis33'),
        url(../font/basis33.ttf); 
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.no-copy {

    -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none;
}

.clickable:hover {

    cursor: pointer;
}

body {

    height: 100%;
}

.fullscrean {

    min-height: 100vh;
    font-family: 'basis33';
    background-color: black;
    display: flex;
    justify-content:center;
    align-items: center;
}

.main-container {

    border-radius: 15px 15px 15px 15px;
    max-width: 960px;
    min-width: 960px;
    position: relative;
}

.header-container {

    font-size: 30px;
    color: white;
    font-weight: bold;

    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    width: 100%;
    background-color: #998ff2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px 15px 0 0;
}

.log-btn {

    padding-left: 38px;

}

.content-container {

    position: relative;
    min-width: 100%;
    min-height: 670px;
    filter: brightness(80%);
    filter: contrast(80%);
    background-image: url("../img/Dots\ 4px.svg");
    border-radius: 0 0 15px 15px;
    padding: 5px;
    background: #ecebfa;
}

.block {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px
}

.icon {

    width: 95px;
    height: 86.4px;
    margin-bottom: 5px;
}

.text {

    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1.5px;
    max-width: 150px;
    line-height: 1em;
    color: black;
}

.icons-container {

    min-width: 100%; 
    display: inline-flex;
    justify-content: space-around;
}

.page {

    display: none;
    position: absolute;
    z-index: 2;
    background: white;
    width: 950px;
    height: 655px;
    border: 1px solid black;
}

.shield {

    display: none;
    position: absolute;
    opacity: 0.33;
    background: black;
    width: 960px;
    height: 670px;
    border-radius: 0 0 15px 15px;
    z-index: 1;
    
}

.login-section {

    display: none;
    width: 300px;
    height: 400px;
    position: absolute;
    z-index: 4;
    background: white;
    border: 1px solid black;
    left: 325px;
    top: 90px;
}

.page-header {

    width: 100%;
    height: 30px;
}

.page-show {

    display: block;
}

.lines {

    position: relative;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.line {

    height: 3px;
    width: 100%;
    background: black;
}

.page-title {
    
    padding-left: 5px; 
    border: 1px solid black;
    padding-right: 5px;
    padding-top: 1px;   
    font-size: 25px;
    background: white;
    align-self: center;
    display: block;
    position: absolute;

}

.page-exit {

    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 28px;
    background: white;
    position: absolute;
    border: 1px solid black;
    box-shadow: 2px 2px 5px 0px rgba(50,50,50,0.25);
    left: 6px; 
}

.page-exit span{
    
    height: 3px;
    background: black;
    display: block;
    width: 28px;
    margin: 3px;
}

.page-exit span{

    transform: translate(6px, -14px) rotate(45deg);
    transform-origin: left top;
}

.page-exit span:nth-child(1){
    

    transform: translate(-3px, -6px) rotate(-45deg);
    transform-origin: right bottom;
}

.page-exit:hover {

    cursor: pointer;
    background: #c8c4eefd;
    transform:translateY(-0.35px)
}

.folder-icon:hover{
    transform: translateY(-3px);
}

.file-icon:hover{
    transform: translateY(-3px);
}

.log-btn:hover{
    color:#d5d4e4
}





