<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LETI HELPER</title>
    <link rel="icon" type="image/x-icon" href="../static/img/icons8-internet-explorer-64.png">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <div class="fullscrean">

        <div class="main-container">
            
            <div class="header-container">
                <div class="time no-copy" id="time">Nov 2 13:45</div>
                <div class="LETI no-copy">LETI HELPER</div>
                <div class="log-btn no-copy clickable" id="open-login-form">login</div>
            </div>

            <div class="shield" id="shield"></div>

            <div class="login-section" id="login-section">

                    <div class="lines">
                        
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>

                            <div class="page-exit" id="close-login-section">
                                <span></span>
                                <span></span>
                            </div>

                            <div class="page-title no-copy"><p>login</p></div>
                        </div>
                </div>

            <div class="content-container" id="content-container">


                <div class="page capacity-page" id="capacity-page">
                    <div class="page-header">
                        <div class="lines">
                        
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>

                            <div class="page-exit" id="close-capacity-page">
                                <span></span>
                                <span></span>
                            </div>

                            <div class="page-title no-copy"><p>Capacity</p></div>
                        </div>
                    </div>
                </div>

                <div class="page routes-page" id="routes-page">
                    <div class="page-header">
                        <div class="lines">
                        
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>

                            <div class="page-exit" id="close-routes-page">
                                <span></span>
                                <span></span>
                            </div>

                            <div class="page-title no-copy"><p>Routes</p></div>
                        </div>
                    </div>
                </div>

                <div class="page schedule-page" id="schedule-page">
                    <div class="page-header">
                        <div class="lines">
                        
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>

                            <div class="page-exit" id="close-schedule-page">
                                <span></span>
                                <span></span>
                            </div>

                            <div class="page-title no-copy"><p>Schedule</p></div>
                        </div>
                    </div>

                    <div class="page-content schedule-page-content">

                        <table>
                            <tbody>

                                <tr class="tr-head no-copy">
                                    
                                    <td class="td-time">time</td>
                                    <td class="td-info">subject</td>
                                    <td class="td-place">place</td>
                                    <td class="td-teacher">teacher</td>
                                </tr>


                                <tr class="tr-content no-copy">
                                    
                                    <td class="td-time">11:40</td>
                                    <td class="td-info">Правоведенbt bkb sdfsdfsdfwrefnauhsfhsoejrlg</td>
                                    <td class="td-place">очно 5217</td>
                                    <td class="td-teacher">Солнышкин А.В</td>
                                </tr>

                            </tbody>
                        </table>
                        

                    </div>
                </div>
                
                <div class="icons-container">
                    
                    <div class="folder block no-copy clickable" id="open-folder-capacity">
                        <div class="folder-icon"><img class="folder-img icon" src="../static/img/statistics.png"></div>
                        <span class="folder-text text">Хрючево </span>
                    </div>

                    <div class="folder block no-copy clickable" id="open-folder-routes">
                        <div class="folder-icon"><img class="folder-img icon" src="../static/img/lighthouse.png"></div>
                        <span class="folder-text text">Карта-дорога</span>
                    </div>

                    <div class="file block no-copy clickable" id="open-folder-schedule">
                        <div class="file-icon"><img class="folder-img icon" src="../static/img/icons8-calendar-48.png"></div>
                        <span class="file-text text">Расписание</span>
                    </div>

                </div>

            </div>

        </div>

    </div>
    

<script type="text/javascript" src="../static/js/main.js"></script>
</body>
</html>