{% extends 'base-page.html' %}
{% block page_content %}
{{ super() }}
<div class="page-content capacity-page-content">
    <div class="todo-head">Where you can eat right now...</div>
    <div class="battetyandcomp">
        <div class="battery">
        {% for less in range(len3) %}
            <div class="oneball"></div>
        {% endfor %}
        </div>
        <div class="batteryend"></div>
        <div class="comp no-copy">3 campus load</div>
    </div>

    <div class="battetyandcomp">
        <div class="battery">
        {% for less in range(len6) %}
            <div class="oneball"></div>
        {% endfor %}
        </div>
        <div class="batteryend"></div>
        <div class="comp no-copy">6 campus load</div>
    </div>
</div>
{% endblock %}