{% extends 'base.html' %}

{% block content %}
{{ super() }}
<div class="icons-container">
    
    <a href="/capacity" class="folder block no-copy clickable">
        <div class="folder-icon"><img class="folder-img icon" src="../static/img/statistics.png"></div>
        <span class="folder-text text">Хрючево </span>
    </a>

    <a href="/routes" class="folder block no-copy clickable">
        <div class="folder-icon"><img class="folder-img icon" src="../static/img/lighthouse.png"></div>
        <span class="folder-text text">Карта-дорога</span>
    </a>

    <a href="/schedule/today" class="file block no-copy clickable">
        <div class="file-icon"><img class="folder-img icon" src="../static/img/icons8-calendar-48.png"></div>
        <span class="file-text text">Расписание</span>
    </a>

</div>
{% endblock %}