{% extends "base.html" %}

{% block content %}
<div class="log-page">



    <h3 class="log-head no-copy">Login</h3>

    <div class="log-body">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div style="text-align:center; margin-bottom: 10px">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        <form class="log-form" method="POST" action="/">

            <div>
                <input class="log-input" name="group" placeholder="Your group" autofocus="" required>
            </div>

            <div>
                <input class="log-input" type="password" name="password" placeholder="Your Password" required>
            </div>

            <button class="log-butt no-copy">Login</button>

        </form>

        <div class="pls-signup">
            don't have an account?
            <a class="ref-signup" href="{{ url_for('auth.signup') }}">
                Sign Up
                </a>
        </div>

        <div class="pls-capacity">
            <div class="pls-cap-text">
                If you just want to see the workload of the canteens
            </div>
            <a href="/capacity" class="folder block no-copy clickable capacity-on-log">
        <div class="folder-icon"><img class="folder-img icon" src="../static/img/statistics.png"></div>
        <span class="folder-text text">capacity</span>
            </a>

        </div>


    </div>

</div>
{% endblock %}