{% extends "base.html" %}

{% block content %}
<div class="log-page">



    <h3 class="log-head no-copy">Login</h3>

    <div class="log-body">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div style="text-align:center">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        <form class="log-form" method="POST" action="/">

            <div>
                <input class="log-input" name="group" placeholder="Your group" autofocus="">
            </div>

            <div>
                <input class="log-input" type="password" name="password" placeholder="Your Password">
            </div>

            <button class="log-butt no-copy">Login</button>

        </form>

        <div class="pls-signup">
            If you don't have an account please
            <a class="ref-signup" href="{{ url_for('auth.signup') }}">
                Sign Up
                </a>
        </div>


    </div>

</div>
{% endblock %}